<%= form_for @review do |f| %>
 
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <% Course.all.each do |course| %>
        <%= f.label course.course_name %><br>
    <% end %>
    
    <%= f.label Course.find_by(course_name: "Computer Architecture").id %><br>
    
  </p>

  <p>
    <% Professor.all.each do |prof| %>
        <%= f.label prof.prof_name %><br>
    <% end %>
  
    <%= f.text_field :professor %><br>
  </p>
 
  <p>
    <%= f.label :evaluation %><br>
    <%= f.text_area :evaluation %><br>
  </p>
  
  <p>
    <%= f.label :prof_rating %><br>
    <%= f.number_field :prof_rating %><br>
  </p>
  
  <p>
    <%= f.label :workload_rating %><br>
    <%= f.number_field :workload_rating %><br>
  </p>
  
  <p>
    <%= f.label :support_rating %><br>
    <%= f.number_field :support_rating %><br>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>