<h1>Listing reviews</h1>
 <%= link_to 'New review', new_review_path %>
<table>
  <tr>
    <th>ITSC 3181</th>
    <th>Computer Architecture</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.evaluation %></td>
      <td><%= review.professor_rating %></td>
      <td><%= review.workload_rating %></td>
      <td><%= review.support_rating %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
      <td><%= link_to 'Edit', edit_review_path(review) %></td>
      <td><%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
