<h2>Listing reviews</h2>
<table>
  <div class="container">
      <div class="row">
          <div class="col-3">
            Course
          </div>
          <div class="col-2">
            Professor
          </div>
          <div class="col-1">
            Workload rating
          </div>
          <div class="col-1">
            Review rating
          </div>
          
          <div class="col-3">
            Action
          </div>
       </div>
    </div>
  
  
  <% @reviews.each do |review| %>
    <div class="container">
      <div class="row">
          <div class="col-3">
            <%= Course.find(review.course_id).course_name %>
            <%= link_to 'View', review_path(review) %>
          </div>
          <div class="col-2">
            <%= Professor.find(review.professor_id).prof_name %>
          </div>
          <div class="col-1">
            <%= review.workload_rating %>
          </div>
          <div class="col-1">
            <%= review.support_rating %>
          </div>
          
          <div class="col-3">
            <%= link_to 'Edit', edit_review_path(review) %>
            <%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
       </div>
    </div>
</div>
    
    
  <% end %>
</table>

<%= link_to 'Create a new review', new_review_path %>

