<h2>Listing reviews</h2>
<table>
  <% @reviews.each do |review| %>
    <tr>
      <td></td>
      <td></td>
    
    </tr>
    
    <div class="container">
      <div class="row">
          <div class="col-3">
            <%= Course.find(review.course_id).course_name %>
          </div>
          <div class="col-1">
            <%= Professor.find(review.professor_id).prof_name %>

          </div>
          <div class="col-3">
              <%= review.evaluation %>
          </div>
          <div class="col-1">
            <%= review.workload_rating %>
          </div>
          <div class="col-1">
            <%= review.support_rating %>
          </div>
          
          <div class="col">
            <%= link_to 'Show', review_path(review) %>
            <%= link_to 'Edit', edit_review_path(review) %>
            <%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
       </div>
    </div>
</div>
    
    
  <% end %>
</table>

<%= link_to 'Create a new review', new_review_path %>

