<h2>Listing reviews</h2>
<table>
  <div class="container">
      <div class="row">
          <div class="col-3">
            <strong>Course</strong>
          </div>
          <div class="col-2">
            <strong>Professor</strong>
          </div>
          <div class="col-1">
            <strong>Professor rating</strong>
          </div>
          <div class="col-1">
            <strong>Workload rating</strong>
          </div>
          <div class="col-1">
            <strong>Support rating</strong>
          </div>
          
          <div class="col-1">
            <strong>Action</strong>
          </div>
       </div>
    </div>
  <% @reviews.each do |review| %>
    <div class="container">
      <div class="row">
          <div class="col-3">
          <%= link_to Course.find(review.course_id).course_name, course_path(Course.find(review.course_id)) %>
          </div>
          <div class="col-2">
            <%= link_to Professor.find(review.professor_id).prof_name, professor_path(Professor.find(review.professor_id)) %>

          </div>
          <div class="col-1">
            <%= review.prof_rating %>
          </div>
          <div class="col-1">
            <%= review.workload_rating %>
          </div>
          <div class="col-1">
            <%= review.support_rating %>
          </div>
          
          <div class="col-3">
            <%= link_to 'View', review_path(review) %>
            <%= link_to 'Edit', edit_review_path(review) %>
            <%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
       </div>
    </div>
    
    
  <% end %>
</table>

<%= link_to 'Create a new review', new_review_path %>

